extends layout

block content
  h1= title
  - var result = [{"musicDirectorName":"Devi Sree","musicType":"Melody","musicLengthInMin":5},{"musicDirectorName":"Thaman","musicType":"Folk","musicLengthInMin":4},{"musicDirectorName":"Mani Sharma","musicType":"devotional","musicLengthInMin":6}]
  div.container-fluid
     div.row
        each item,index in result
            div.col-sm-2(onclick=`buy(${index})`) Name: #{item["musicDirectorName"]}  <br>  Novel Type: #{item["musicType"]} <br> musicLengthInMin: #{item["musicLengthInMin"]} 
  script.
      function buy(index){
         alert("you purchased item "+(index+1))
      }